@{
    this.ViewData["Title"] = "За нас";
}

<h3 class="col-12 text-center">@this.ViewData["Title"]</h3>

<h5>Какво правим?</h5>
<p class="col-md-6">
    </br>
    Екипът ни създаде този сайт, за да подпомогне българските наемодатели и бизнеса им.
    Всеки, който желае, може да регистрира в нашата система свое място за отдаване под наем.
</p>
 

<h5>Контакти:</h5>
<p class="col-md-6">    
    </br> adminstayin@gmail.com
</p>

