@page
@model EnableAuthenticatorModel
@{
    ViewData["Title"] = "Настройки на приложение за удостоверяване";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div>
    <p>Следвайте следните стъпки:</p>
    <ol class="list">
        <li>
            <p>
                Изтеглете приложение за двуфакторно удостоверяване например Microsoft Authenticator за                
                <a href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> и
                <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a> или
                Google Authenticator за
                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android</a> and
                <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>.
            </p>
        </li>
        <li>
            <p>Сканирайте QR-кода или въведете този ключ<kbd>@Model.SharedKey</kbd> във Вашето приложение. Празните интервали и главните букви не са от значение.</p>
            <div class="alert alert-info">Научете как да <a href="https://go.microsoft.com/fwlink/?Linkid=852423">включите генериране на QR-код</a>.</div>
            <div id="qrCode"></div>
            <div id="qrCodeData" data-url="@Html.Raw(@Model.AuthenticatorUri)"></div>
        </li>
        <li>
            <p>
                Веднъж щом сканирате QR-кода или ключа отгоре, вашето приложение за двуфакторно удостоверяване ще ви осигури уникален код.
                 Въведете кода в полето за потвърждение:
            </p>
            <div class="row">
                <div class="col-md-6">
                    <form id="send-code" method="post">
                        <div class="form-group">
                            <label asp-for="Input.Code" class="control-label">Код за верификация</label>
                            <input asp-for="Input.Code" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Input.Code" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Готово</button>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </form>
                </div>
            </div>
        </li>
    </ol>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
