.custom-green {
  color: #006800;
}
.place-card {
  height: 20em;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 14px;
}
.place-card:hover {
  cursor: pointer;
}
.place-card:hover img {
  transform: scale(1.02);
  transform-origin: 50% 50%;
  transition: all 0.5s ease;
}
.place-card:hover .place-info {
  top: -70px;
}
.place-card img {
  width: 100%;
  height: 16em;
  object-fit: cover;
  transition: all 0.5s ease;
}
.place-card .place-info {
  position: relative;
  z-index: 10;
  height: 120px;
  background-color: white;
  padding: 5px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  top: 0;
  transition: all 0.5s ease;
}
.place-card .place-info .place-year {
  color: #5a5a5a;
  font-size: 1rem;
}
.place-card .place-info .place-second-info {
  color: #252525;
  font-size: 1rem;
  font-weight: normal;
}
.place-card .place-info .place-icon {
  height: 18px;
  width: 18px;
}
.place-card .place-info .place-city {
  font-size: 1rem;
  font-weight: normal;
}
.place-card .place-info .times-rented {
  color: #777;
  font-size: 0.9rem;
  font-weight: normal;
}
.place-card:hover .place-fav {
  top: 0;
  opacity: 100;
}
.place-card .place-fav {
  color: white;
  position: absolute;
  right: 10px;
  z-index: 100;
  font-size: 1.6rem;
  top: 0;
  opacity: 100;
  transition: all ease 0.5s;
}
.place-card .place-price {
  background-color: white;
  color: black;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 20;
  font-size: 0.9rem;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: initial;
}
.place-card .place-price i {
  font-size: 0.8rem;
  opacity: 0.75;
}
@media only screen and (min-width: 600px) {
  .place-card .place-fav {
    top: -35px;
    opacity: 0;
  }
}
@media screen and (min-width: 1200px) {
  .place-card {
    height: 25em;
  }
  .place-card img {
    height: 21em;
  }
}
